/* SVG Helpers
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* line 4, ../scss/style.scss */
[class^="icon-"], [class*=" icon-"] {
  background-image: url(../svgbundle/bundle.svg);
  height: 30px;
  width: 30px;
}

/* line 10, ../scss/style.scss */
.icon-file {
  background-position: -10px -62px;
}

/* line 14, ../scss/style.scss */
.icon-envelope {
  background-position: -10px -10px;
}

/* line 18, ../scss/style.scss */
.box {
  width: 35px;
  height: 35px;
}
